.DS_Store
build/
*.bin
*.uf2
*.elf
*.map
*.hex
*.o
*.a
*.d
*.tmp
*.log
*.lss
*.eep
*.hex
compile_commands.json
includes.cache
libraries.cache
build.options.json
build_opt.h
file_opts
flash_args
sdkconfig
partitions.csv
